/* Ripple effect for Button */
.animate-ripple {
  opacity: 0.4;
  transform: scale(2);
  transition: opacity 0.4s, transform 0.4s;
}
.pointer-events-none.animate-ripple {
  opacity: 0;
  transform: scale(0);
  transition: none;
}
@import "tailwindcss";

@utility text-gradient {
  @apply bg-linear-to-r from-[#d6c7ff] to-[#ab8bff] bg-clip-text text-transparent;
}